<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>選択肢入力ページ</title>
</head>
<body>
<form action="" method="post">
    <div>
        <label for="name1">1つ目の入力</label><br>
        <input type="text" name="name1" id="name1">
    </div>
    <div>
        <label for="name2">2つ目の入力</label><br>
        <input type="text" name="name2" id="name2">
    </div>
    <div>
        <label for="name3">3つ目の入力</label><br>
        <input type="text" name="name3" id="name3">
    </div>
    <input type="submit" value="抽選開始">
</form>
{{result}}
</body>
</html>